{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=!, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/presence.css' %}">
    <title>secretaire</title>
</head>
<body>
    <div class="alle">
        <div>
            <h1>Direct<span>Insurance</span></h1>
        </div>
        <div class="liens">
            <a href="secretaire.html">Fiche Présence</a>
            <a href="rapport.html">Rapport</a>
        </div>
        <button >
            <a href="{% url 'authentification:login' %}" style="font-size: 15px; text-align: center; color: white;">Se Deconnecter</a></button>
    </div>

    <div>
       <div class="corps">
         <h1>fiche de présence</h1>
         <label for="fiche">Fiche de présence au :</label>
         <input type="date" name="date" id="">
       </div>
         <table>
            <div >
                <th>
                    <tr class="teteA">
                        
                        <td>Nom</td>
                        <td colspan="2">Présence</td>
                        <!-- <td>Pause</td> -->
                        <td colspan="2">Pause</td>
                    </tr>

                </th>
               <div>
                <tr class="teteB">
                    <td></td>
                    <td>Arrivé(e)</td>
                    <td>Départ</td>
                    <td>Départ</td>
                    <td>Départ</td>
                </tr>
               </div>
                
            </div>

            <div>
                <tr class="tetec">
                    <td>{{ Utilisateur.username }}</td>
                    <td><input type="time" name="" id=""></td>
                    <td><input type="time" name="" id=""></td>
                    <td><input type="time" name="" id=""></td>
                    <td><input type="time" name="" id=""></td>
                </tr>
               </div>
         </table>
       </div>
    </div>
</body>
</html>