*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(242, 247, 250);
}

.alle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: blue solid 2px;
    box-shadow: inset;
}

.liens{
    
    /* text-align: center; */
    padding: 5px;
    margin:20px;

}

.alle h1{
    color: black;
}

a{
    text-decoration: none;
    font-size: 25px;
    padding-left: 50px;
    color: black;
    font-weight: bold;
    
}

a:hover{
    color: blue;
    cursor: pointer;
    transition: .4s;
}


span{
    color: blue;
}


.alle button{
    border: 1px solid  blue;
    color: white;
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
    background-color:  blue;
    font-weight: bold;
    text-align: center;
    transition: .4s;
    margin-top: 10px;
}

.alle button:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}


.corps{
    margin: 0 40px;
}

.corps h1{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    
}

.corps input{
    font-size: 20px;
    margin-top: 20px;
    align-items: center;
}

.corps label{
    font-size: 25px;
    margin-top: 20px;
    align-items: center;
    font-weight: bold;
}

table{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border: black solid 2px;
}

.teteA{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: blue solid 2px;
}

.teteB{
    font-weight: bold;
    font-size: 20px;
    border: blue solid 2px;
    text-align: center;
}

.tetec{
    font-weight: bold;
    font-size: 20px;
    border: blue solid 2px;
    text-align: center;
}

.tetec input{
    font-weight: bold;
}